body {
    background-color: lightgrey;
}

h1 {
    color: blue;
    font-size: 50px; 
    text-align: center;
}

.important {
    color: red;
}

.catsection {
    background-color: orange;
    text-align: center;
    padding: 50px;
}

.catimage {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
   

.article1 {
   background-color: darkseagreen;
   text-align: center;
   padding: 100px;
}